{% extends "base.html" %}

{% load static %}

{% block title %} {{nameApp}} - Usuarios {% endblock %}

{% block  breadcrumb %}

<div class="pagetitle">
  <h1>Usuarios</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">DRPA-DIGITAL</a></li>
      <li class="breadcrumb-item active">Usuarios</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


{% endblock %}


{% block content %}

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

               

                <div class="card-body">
                  <div class="row mb-3 card-title"> 
                     <div class="col-sm-6">
                           <h5 class="">Usuarios registrados </h5>
                     </div>
                   
                     <div class="col-sm-4 col justify-content-end" >
                       <div class="row">
                          <div class="col-sm-8">
                            <form action="" method="post">{%csrf_token%}
                              <input type="text" class="form-control" 
                                     id="patternSearch" 
                                     name="patternSearch" value="{{ patternSearch }}">
                          </div>
                          <div class="col-sm-2"> 
                            <button type="submit" class="btn btn-primary" title="Filtrar"  
                                    data-bs-placement="left" data-bs-toggle="tooltip">
                                    <i class="bi bi-funnel "></i>
                            </button>
                          </form></div>
                          <div class="col-sm-2">
                            <form action="" method="get">
                              <button type="submit" class="btn btn-danger" title="Limpiar filtro"  
                                      data-bs-placement="left" data-bs-toggle="tooltip">
                                      <i class="bi bi-eraser "></i>
                              </button>
                            </form>
                          </div>
                          
                       </div>
                     </div>
                     
                     <div class="col-sm-1">
                      <a type="button" class="btn btn-success col-sm-12" 
                          style="margin-left:5px;" title="Registrar usuario" 
                          data-bs-placement="left" data-bs-toggle="tooltip"
                          href="/accescontrol/add">
                        <i class="bi bi-person-plus-fill"></i>
                      </a>
                     </div>
                  </div>
                   
                  <table class="table table-borderless ">
                    <thead>
                      <tr>
                        <th scope="col justify-content-center">Usuario</th>
                        <th scope="col justify-content-center">Nombre y Apellidos</th>
                        <th scope="col justify-content-center">Roles</th>
                        <th scope="col justify-content-center">Activo</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for user in users %}
                       <tr>
                          <td width="20%"> {{ user.username }}</td>
                          <td width="30%">{{ user.nameCompleted }}</td>
                          <td width="25%">
                            {% for rol in user.getRoles %}

                              <a href="/accescontrol/removerol/{{rol}}/{{user.username}}" 
                               class="badge bg-primary" title="Click para remover el rol al usuario"  
                               data-bs-placement="top" data-bs-toggle="tooltip">{{rol}}</a>

                            {% endfor %}
                            <span onclick="aviableRolUser('{{user.username}}')" style="font-size: 1.25rem;" 
                            title="Click para definir nuevo rol al usuario"  data-bs-placement="top" 
                            data-bs-toggle="tooltip"><i class="bi bi-file-plus-fill "></i></span>
                          </td>
                          <td width="10%" >
                            <h5><a href="/accescontrol/changestatus/{{user.username}}">
                              {% if user.is_active %}
                                <i class="bi bi-toggle-on " 
                                  title="Click para deshabilitar al usuario"  
                                  data-bs-placement="top" data-bs-toggle="tooltip"></i>
                              {% else %} 
                                <i class="bi bi-toggle-off " 
                                  title="Click para habilitar al usuario"  
                                  data-bs-placement="top" data-bs-toggle="tooltip"></i>  
                               {% endif %} 
                              </a></h5>
                          </td>
                          <td width="15%"> 
                            <a href="/accescontrol/detail/{{user.username}}">
                            <i  class="bi bi-eye justify-content-center" title="Detalles"  data-bs-placement="top" data-bs-toggle="tooltip"> </i>
                            </a>
                            <a href="/accescontrol/update/{{user.username}}">
                              <i class="bi bi-pencil-square justify-content-center" 
                                title="Modificar"  
                                data-bs-placement="top" data-bs-toggle="tooltip"> </i>
                            </a>
                            <a href="/accescontrol/remove/{{user.username}}">
                              <i class="bi bi-trash justify-content-center" title="Eliminar"  
                              data-bs-placement="top" data-bs-toggle="tooltip"> </i></a></td>
                       </tr>
                      {% endfor %}
                      
                      
                      
                    </tbody>
                  </table>
                  {% if users.has_other_pages %}
                    <ul class="pagination justify-content-center">
                      {% if workers.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="/accescontrol/?pageSU={{ users.previous_page_number }}&patternSearch={{patternSearch}}" 
                            aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                      {% endif %}
                      
                      {% for i in users.paginator.page_range %}
                        {% if lPLUser <= i and i <= lPRUser %}
                            {% if users.number == i %}
                              <li class="page-item"><a class="page-link"><b>{{i}}</b></a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="/accescontrol/?pageSU={{i}}&patternSearch={{patternSearch}}">{{i}}</a></li>
                            {% endif %}
                        {% endif %} 
                      {% endfor %}
                      
                      {% if workers.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="/accescontrol/?pageSU={{ users.next_page_number }}&patternSearch={{patternSearch}}" 
                            aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                {% endif %}
                </div>

              </div>
            </div><!-- End Recent Sales -->


          </div>
        </div><!-- End Left side columns -->

        

      </div>


      


    </section>


    
     
       
        <div class="modal fade" id="newRoles" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Asignar nuevos roles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" id="bodyModal">
                    <input class="form-control" style="display: none;" name="urlRequest" id="urlRequest">
                    <input class="form-control" style="display: none;" name="username" id="username">
                    <div class="listRol" id="listRol">
                      
                    </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="acceptButtonRol()">Aceptar</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                
              </div>
            </div>
          </div>
        </div><!-- End Disabled Backdrop Modal-->

        
        <div class="modal fade" id="notRoles" tabindex="-1" data-bs-backdrop="false" style="display: none;" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Asignar nuevos roles</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                  <i class="bi bi-exclamation-octagon me-1"></i>
                    A este usuario no se le puede asignar más roles del sistema.
                </div>
              </div>
              <div class="modal-footer">
               
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                
              </div>
            </div>
          </div>
        </div>
    
   
     
     
     


    <script src="{% static js %}js/init_ajax.js"></script>
    <script src="{% static js %}js/accescontrol.js"></script>

{% endblock %}