{% extends "base.html" %}

{% load static %}

{% block title %} {{nameApp}} - Usuarios {% endblock %}

{% block  breadcrumb %}

<div class="pagetitle">
  <h1>Recursos Turísticos</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">{{ nameAppShort }}</a></li>
      <li class="breadcrumb-item active">Recursos Turísticos</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


{% endblock %}


{% block content %}

<section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">
            <!-- Recent Sales -->
            <div class="col-12">
              <div class="card recent-sales overflow-auto">

               

                <div class="card-body">
                  <div class="row mb-3 card-title"> 
                     <div class="col-sm-6">
                           <h5 class="">Recursos turisticos registrados </h5>
                     </div>
                   
                     <div class="col-sm-4 col justify-content-end" >
                       <div class="row">
                          <div class="col-sm-8">
                            <form action="" method="post">{%csrf_token%}
                              <input type="text" class="form-control" 
                                     id="patternSearch" 
                                     name="patternSearch" value="{{ patternSearch }}">
                          </div>
                          <div class="col-sm-2"> 
                            <button type="submit" class="btn btn-primary" title="Filtrar"  
                                    data-bs-placement="left" data-bs-toggle="tooltip">
                                    <i class="bi bi-funnel "></i>
                            </button>
                          </form></div>
                          <div class="col-sm-2">
                            <form action="" method="get">
                              <button type="submit" class="btn btn-danger" title="Limpiar filtro"  
                                      data-bs-placement="left" data-bs-toggle="tooltip">
                                      <i class="bi bi-eraser "></i>
                              </button>
                            </form>
                          </div>
                          
                       </div>
                     </div>
                     
                     <div class="col-sm-1">
                      <a type="button" class="btn btn-success col-sm-12" 
                          style="margin-left:5px;" title="Registrar recurso turistico" 
                          data-bs-placement="left" data-bs-toggle="tooltip"
                          href="/touristresource/add">
                        <i class="bi bi-plus"></i>
                      </a>
                     </div>
                  </div>
                   
                  <table class="table table-borderless ">
                    <thead>
                      <tr>
                        <th scope="col justify-content-center">Nombre</th>
                        <th scope="col justify-content-center">Descripción</th>
                        <th scope="col"></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for touristR in touristResources %}
                       <tr>
                          <td width="20%"> {{ touristR.name }}</td>
                          <td width="60%">{{ touristR.descriptionShort }}</td>
                          
                          
                          <td width="20%"> 
                            <a onclick="showQR('{{touristR.pk}}')">
                              <i class="bi bi-upc justify-content-center" title="Ver QR"  
                              data-bs-placement="top" data-bs-toggle="tooltip"> </i>
                            </a>
                            <a href="/touristresource/detail/{{touristR.pk}}">
                            <i class="bi bi-eye justify-content-center" title="Detalles"  data-bs-placement="top" data-bs-toggle="tooltip"> </i>
                            </a>
                            <a href="/touristresource/update/{{touristR.pk}}">
                              <i class="bi bi-pencil-square justify-content-center" 
                                title="Modificar"  
                                data-bs-placement="top" data-bs-toggle="tooltip"> </i>
                            </a>
                            <a href="/touristresource/remove/{{touristR.pk}}">
                              <i class="bi bi-trash justify-content-center" title="Eliminar"  
                              data-bs-placement="top" data-bs-toggle="tooltip"> </i></a></td>
                       </tr>
                      {% endfor %}
                      
                      
                      
                    </tbody>
                  </table>
                  {% if touristResources.has_other_pages %}
                    <ul class="pagination justify-content-center">
                      {% if touristResources.has_previous %}
                      <li class="page-item">
                        <a class="page-link" href="/touristresource/?pageSU={{ touristResources.previous_page_number }}&patternSearch={{patternSearch}}" 
                            aria-label="Previous">
                          <span aria-hidden="true">«</span>
                        </a>
                      </li>
                      {% endif %}
                      
                      {% for i in touristResources.paginator.page_range %}
                        {% if lPLTouristResource <= i and i <= lPRTouristResource %}
                            {% if touristResources.number == i %}
                              <li class="page-item"><a class="page-link"><b>{{i}}</b></a></li>
                            {% else %}
                              <li class="page-item"><a class="page-link" href="/touristresource/?pageSU={{i}}&patternSearch={{patternSearch}}">{{i}}</a></li>
                            {% endif %}
                        {% endif %} 
                      {% endfor %}
                      
                      {% if touristResources.has_next %}
                      <li class="page-item">
                        <a class="page-link" href="/touristresource/?pageSU={{ touristResources.next_page_number }}&patternSearch={{patternSearch}}" 
                            aria-label="Next">
                            <span aria-hidden="true">»</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                {% endif %}
                </div>

              </div>
            </div><!-- End Recent Sales -->


          </div>
        </div><!-- End Left side columns -->

        

      </div>


      


    </section>


    
     
       
    <div class="modal fade" id="fullscreenModal" tabindex="-1" style="display: none;" aria-hidden="true">
      <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Full Screen Modal</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            Non omnis incidunt qui sed occaecati magni asperiores est mollitia. Soluta at et reprehenderit. Placeat autem numquam et fuga numquam. Tempora in facere consequatur sit dolor ipsum. Consequatur nemo amet incidunt est facilis. Dolorem neque recusandae quo sit molestias sint dignissimos.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    
   
     
     
     


    <script src="{% static js %}js/init_ajax.js"></script>
    <script src="{% static js %}js/touristresource.js"></script>

{% endblock %}