{% extends 'admin/base.html' %}
{% load i18n admin_urls %}

{% block breadcrumbs %}
<div class="ontainer-fluid">
    <div class="row">
        <div class="col-12 col-md-auto d-flex flex-grow-1 align-items-center">
            <h1 class="h4 m-0 pr-3 mr-3 border-right"> Recursos turísticos </h1>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a></li>
                <li class="breadcrumb-item"><a href="/admin/touristresource/">Módulo de Recursos Turísticos
</a></li>
                <li class="breadcrumb-item"><a href="/admin/touristresource/resourcetourist/">Recursos Turísticos</a></li>
                <li class="breadcrumb-item active">QRs del recurso turístico</li>
            </ol>
        </div>
        <div class="col-12 col-md-auto d-flex align-items-center justify-content-end page-actions">
        </div>
    </div>
</div>
            
{% endblock %}
{% block content %} 

<div class="content col-12">
    <div class="container-fluid">
        <section id="content" class="content">
            <div class="row">
                <div class="card col-12">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6">
                                <img width="100%" src="{{urlQRWeb}}"/>
                            </div>
                            <div class="col-6">
                                <img width="100%" src="{{urlQRApp}}"/>
                            </div>
                        </div>
                        <div class="row float-right">
                            <div class="d-flex align-items-center justify-content-end page-actions">
                                <a href="/admin/touristresource/resourcetourist/" class="btn btn-primary float-right">
                                    <i class="fa fa-arrow-circle-left"></i> Volver átras
                                </a>
                                <a target="_blank" href="{% url 'admin:resource_tourist_print_qr' resource.pk %}" class="btn btn-primary float-right">
                                    <i class="fa fa-print"></i> Imprimir QRs
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br class="clear">
        </section>
    </div>
</div>

{% endblock %}