{% extends "base.html" %}

{% load static %}

{% block title %} {{nameApp}} - Usuarios {% endblock %}

{% block  breadcrumb %}

<div class="pagetitle">
  <h1>Usuarios</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">{{ nameAppShort }}</a></li>
      <li class="breadcrumb-item"><a href="/accescontrol">Usuarios</a></li>
      <li class="breadcrumb-item active">Detalles</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


{% endblock %}

{% block content %}
<div class="row">
  <div class="col-xl-4">

    <div class="card">
      <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

        <img src="{{user.logo.url}}" alt="Profile" class="rounded-circle">
        <h4>{{ user.username}}</h4>
        <h6>{{ user.getRol}}</h6>
        {% comment %} <div class="social-links mt-2">
          <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div> {% endcomment %}
      </div>
    </div>

  </div>

  <div class="col-xl-8">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-overview" aria-selected="true" role="tab">Datos Generales</button>
          </li>

         

        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
            {% comment %} <h5 class="card-title">About</h5>
            <p class="small fst-italic">Sunt est soluta temporibus accusantium neque nam maiores cumque temporibus. Tempora libero non est unde veniam est qui dolor. Ut sunt iure rerum quae quisquam autem eveniet perspiciatis odit. Fuga sequi sed ea saepe at unde.</p> {% endcomment %}

            {% comment %} <h5 class="card-title">Profile Details</h5> {% endcomment %}

            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label ">Nombre completo</div>
              <div class="col-lg-8 col-sm-12 col-md-8 ">{{user.nameCompleted}}</div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label">Email</div>
              <div class="col-lg-8 col-sm-12 col-md-8">{{user.email}}</div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label">Tipo de cuenta</div>
              <div class="col-lg-8 col-sm-12 col-md-8">{{user.typeAccount}}</div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label">Estado de la cuenta</div>
              <div class="col-lg-8 col-sm-12 col-md-8">
                  {% if user.is_active%}
                    Habilitada
                  {% else %}
                    Deshabilitado
                  {% endif %}
              </div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-12 col-md-4 label">Teléfono móvil</div>
              <div class="col-lg-9 col-sm-12 col-md-8">{{ user.numberMobile }}</div>
            </div>

            <div class="row">
              <div class="col-lg-3 col-sm-12 col-md-4 label">Teléfono fijo</div>
              <div class="col-lg-9 col-sm-12 col-md-8">{{ user.numberPhone }}</div>
            </div> 
            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label">Fecha de registro</div>
              <div class="col-lg-8 col-sm-12 col-md-8">{{ user.date_joined }}</div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-sm-12 col-md-4 label">Último acceso</div>
              <div class="col-lg-8 col-sm-12 col-md-8">{{ user.last_login }}</div>
            </div>

            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 label">Roles </div>
              <div class="col-lg-8 col-md-8 col-sm-12">
                 <ul>
                 {% for rol in user.getRoles %}
                  <li>{{ rol }}</li>
                 {% endfor %}
                 </ul>
              </div>
            </div>

            

            

            

            

          </div>

          
        </div><!-- End Bordered Tabs -->

      </div>
    </div>

  </div>
</div>
{% endblock %}