{% extends "base.html" %}

{% load static %}

{% block title %} {{nameApp}} - Registrar Recurso Turístico {% endblock %}

{% block  breadcrumb %}

<div class="pagetitle">
  <h1>Registrar recurso turístico</h1>
  <nav>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/home">{{ nameAppShort }}</a></li>
      <li class="breadcrumb-item"><a href="/touristresource"> Recursos Turísticos</a></li>
      <li class="breadcrumb-item active">Registrar Recurso Turístico</li>
    </ol>
  </nav>
</div><!-- End Page Title -->


{% endblock %}


{% block content %}
<div class="row">
  

  <div class="col-xl-12">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link card-title" >Registrar Recurso Turístico</button>
          </li>
        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
            
            
              <div class="card-body">
               
  
                <!-- Vertical Form -->
                <form class="row g-3 mt-4" method="post" action=""> {% csrf_token %} 
                  <div class="col-12 row">
                    <div class="col-4">
                      
                      <label for="id_name" class="form-label">Nombre</label>
                      {{form.name}}<br>
                    </div>
                    <div class="col-8">
                      <label for="id_description" class="form-label">Descripción</label>
                      {{form.description}}<br>
                    </div>
                  </div>
                  
                  
                  
                  
                  

                  <div class="col-12">
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <i class="bi bi-exclamation-octagon me-1"></i>
                        {{ form.errors }}
                    </div>  
                  {% endif %}
                  </div>
                  

                 
              
                <div class="col-12 row">
                  <input id="urlBack" name="urlBack" value="{{urlBack}}" class="invisible"/>
                  <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Registrar">
                    <a type="reset" href="{{urlBack}}" class="btn btn-secondary">Cancelar</a>
                  </div>
                </div>  
                
                  
                </form><!-- Vertical Form -->
  
              </div>
            </div>
          </div>
        </div><!-- End Bordered Tabs -->
      </div>
    </div>
  </div>
</div>
{% endblock %}