{% extends "base.html" %}

{% load static %}

{% block title %} {{nameApp}} - Editar usuario {% endblock %}

{% block  breadcrumb %}

<div class="pagetitle">
    <h1>Usuarios</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/home">{{ nameAppShort }}</a></li>
        <li class="breadcrumb-item"><a href="/accescontrol">Usuarios</a></li>
        <li class="breadcrumb-item active">Editar usuario</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  
  
  {% endblock %}

  {% block content %}
<div class="row">
  

  <div class="col-xl-12">

    <div class="card">
      <div class="card-body pt-3">
        <!-- Bordered Tabs -->
        <ul class="nav nav-tabs nav-tabs-bordered" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link card-title" >Datos Generales</button>
          </li>
        </ul>
        <div class="tab-content pt-2">

          <div class="tab-pane fade show active profile-overview" id="profile-overview" role="tabpanel">
            
            
              <div class="card-body">
               
  
                <!-- Vertical Form -->
                <form class="row g-3 mt-4" method="post" action="" enctype="multipart/form-data"> {% csrf_token %} 
                  <div class="col-8 row">
                    <div class="col-6">
                      
                      <label for="id_first_name" class="form-label">Nombre</label>
                      {{form.first_name}}<br>
                      <label for="id_last_name" class="form-label">Apellidos</label>
                      {{form.last_name}}<br>
                      <label for="id_numberPhone" class="form-label">Numero de telefono</label>
                      {{form.numberPhone}}<br>
                      <label for="id_typeAccount" class="form-label">Tipo de cuenta</label>
                      {{form.typeAccount}}<br>
                    </div>
                    <div class="col-6">
                      <label for="id_username" class="form-label">Usuario</label>
                      {{form.username}}<br>
                      <label for="id_email" class="form-label">Email</label>
                      {{form.email}}<br>
                      <label for="id_numberMobile" class="form-label">Numero de movil</label>
                      {{form.numberMobile}}<br>
                     
                    </div> 
                   
                  </div>
                  <div class="col-4 row">
                    <label for="id_logo" class="form-label">Foto de perfil</label>
                    <img width="50%" src="{{user.logo.url}}">
                    {{form.logo}}
                  </div>  

                  <div class="col-12">
                    {% if form.errors %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                      <i class="bi bi-exclamation-octagon me-1"></i>
                        {{ form.errors }}
                    </div>  
                  {% endif %}
                  </div>
                  

                 
              
                <div class="col-12 row">
                  <input id="urlBack" name="urlBack" value="{{urlBack}}" class="invisible"/>
                  <div class="text-center">
                    <input type="submit" class="btn btn-primary" value="Modificar">
                    <a type="reset" href="{{urlBack}}" class="btn btn-secondary">Cancelar</a>
                  </div>
                </div>  
                
                  
                </form><!-- Vertical Form -->
  
              </div>
            </div>

            

            

            

            

          </div>

          
        </div><!-- End Bordered Tabs -->

      </div>
    </div>

  </div>
</div>
{% endblock %}